<div class="modal modal-field-edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit field: <strong class="title-field-name">FIELD</strong></h4>
      </div>
      <div class="modal-body">
        <input class="field-value" type="textfield"></input>
      </div>
      <div class="modal-footer">
        <button class="btn-save btn btn-default">Save</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
